<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="estils.css">
</head>
<body>

{{> header}}

<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>

<p>{{notice}}</p>

{{#if showWarning}}
  <div class="warning">
    ⚠️ Avís activat
  </div>
{{/if}}

</body>
</html>
